In [71]:
import pandas as pd 
import numpy as np
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt
import pandas_profiling as ppr

In [72]:
##Leemos los datos seleccionados
df_main=pd.read_csv('../DATA/TB_HOSP_VAC_FALLECIDOS.csv')
df_oxigen=pd.read_csv('../DATA/Oxigeno_25-10-2021.csv',sep="|")

In [73]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137449 entries, 0 to 137448
Data columns (total 30 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   eess_renaes                   137449 non-null  int64
 1   eess_diresa                   137449 non-null  object
 2   eess_red                      137449 non-null  object
 3   eess_nombre                   137449 non-null  object
 4   id_eess                       137449 non-null  int64
 5   id_persona                    137449 non-null  int64
 6   edad                          129401 non-null  float64
 7   sexo                          130398 non-null  object
 8   fecha_ingreso_hosp            137449 non-null  object
 9   flag_uci                      137449 non-null  int64
 10  fecha_ingreso_uci             13114 non-null   object
 11  fecha_ingreso_ucin            7016 non-null    object
 12  con_oxigeno                   137444 non-null  float64
 13  con_ventilacion               137435 non-null  float64
 14  fecha_segumiento_hosp_ultimo  137448 non-null  object
 15  evolucion_hosp_ultimo         135534 non-null  object
 16  flag_vacuna                   137449 non-null  int64
 17  fecha_dosis1                  84251 non-null   object
 18  fabricante_dosis1             84251 non-null   object
 19  fecha_dosis2                  78078 non-null   object
 20  fabricante_dosis2             78078 non-null   object
 21  fecha_dosis3                  43280 non-null   object
 22  fabricante_dosis3             43280 non-null   object
 23  cdc_positividad               137449 non-null  int64
 24  cdc_fecha_fallecido_covid     37801 non-null   object
 25  cdc_fallecido_covid           137449 non-null  int64
 26  ubigeo_inei_domicilio         137449 non-null  int64
 27  dep_domicilio                 137449 non-null  object
 28  prov_domicilio                137449 non-null  object
 29  dist_domicilio                137449 non-null  object
dtypes: float64(3), int64(8), object(19)
memory usage: 31.5+ MB

In [74]:
df_oxigen.head()

,FECHACORTE,FECHAREGISTRO,CODIGO,NOMBRE,CATEGORIA,NIVEL,INSTITUCIÓN,GRUPO,SUB_GRUPO,MACROREGIONES,...,TOT_PUNTOS_RED_INOPER_HOSP,TOT_PUNTOS_RED_EMER,TOT_PUNTOS_RED_OPER_EMER,TOT_PUNTOS_RED_INOPER_EMER,TOT_PUNTOS_RED_AHT,TOT_PUNTOS_RED_OPER_AHT,TOT_PUNTOS_RED_INOPER_AHT,TOT_PUNTOS_RED_AACT,TOT_PUNTOS_RED_OPER_AACT,TOT_PUNTOS_RED_INOPER_AACT
0,20210330,2021/03/30 11:14:29 PM,15266.0,CLINICA Y BOTICA SAN JUAN,II-1,Nivel 2,PRIVADO,PRIVADOS,PRIVADOS,Zona Norte,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20210331,2021/03/31 6:11:05 AM,9748.0,HOSPITAL I OXAPAMPA,II-1,Nivel 2,ESSALUD,PÚBLICOS,ESSALUD,Zona Centro,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20210331,2021/03/31 6:30:00 AM,10244.0,HOSPITAL II JORGE REATEGUI DELGADO,II-1,Nivel 2,ESSALUD,PÚBLICOS,ESSALUD,Zona Norte,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20210331,2021/03/31 7:22:06 AM,10533.0,"HOSPITAL II LIMA NORTE CALLAO ""LUIS NEGREIROS ...",II-2,Nivel 2,ESSALUD,PÚBLICOS,ESSALUD,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210331,2021/03/31 7:25:06 AM,13911.0,MARIA REICHE NEUMAN,I-3,Nivel 1,ESSALUD,PÚBLICOS,ESSALUD,Zona Sur,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [75]:
df_oxigen.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101587 entries, 0 to 101586
Data columns (total 100 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   FECHACORTE                          101587 non-null  int64
 1   FECHAREGISTRO                       101587 non-null  object
 2   CODIGO                              101405 non-null  float64
 3   NOMBRE                              101404 non-null  object
 4   CATEGORIA                           101404 non-null  object
 5   NIVEL                               101404 non-null  object
 6   INSTITUCIÓN                         101404 non-null  object
 7   GRUPO                               101404 non-null  object
 8   SUB_GRUPO                           101404 non-null  object
 9   MACROREGIONES                       71292 non-null   object
 10  UBIGEO                              101404 non-null  float64
 11  REGION                              101404 non-null  object
 12  PROVINCIA                           101404 non-null  object
 13  DISTRITO                            101404 non-null  object
 14  CIL_TOT_CILINDROS                   99202 non-null   float64
 15  CIL_TOT_PROPIOS                     99202 non-null   float64
 16  CIL_TOT_TERCEROS                    99202 non-null   float64
 17  CIL_VOL_POT_MT3                     99202 non-null   float64
 18  CIL_NU_CIL_LLEN_INI_DU24            99202 non-null   float64
 19  CIL_NU_CIL_REABAST_DU24             99202 non-null   float64
 20  CIL_VOL_DISP_M3_DU24                99202 non-null   float64
 21  CIL_NU_CIL_CONSUM_CU24              99202 non-null   float64
 22  CIL_VOL_M3_CU24                     99202 non-null   float64
 23  CIL_SAL_FIN_M3_CU24                 99202 non-null   float64
 24  PLAN_TOT_PLANTAS                    27854 non-null   float64
 25  PLAN_TOT_PROPIOS                    19525 non-null   float64
 26  PLAN_TOT_TERCEROS                   10780 non-null   float64
 27  PLAN_TOT_OPER                       24239 non-null   float64
 28  PLAN_TOT_NOOPER                     7520 non-null    float64
 29  PLAN_TOT_CONEXION_RED               15939 non-null   float64
 30  PLAN_TOT_NOCONEXION_RED             16146 non-null   float64
 31  PLAN_TOT_CARGA                      17439 non-null   float64
 32  PLAN_TOT_NOCARGA                    10366 non-null   float64
 33  PLAN_NOOPER_CAP_NOM_PLAN_M3_H       7520 non-null    float64
 34  PLAN_OPER_CAP_NOM_PLAN_M3_H         24239 non-null   float64
 35  PLAN_OPER_CAP_ACT_PROD_M3_H         24239 non-null   float64
 36  PLAN_OPER_HO_OPE_PLAN               24239 non-null   float64
 37  PLAN_OPER_PROD_DIA_M3               24239 non-null   float64
 38  PLAN_OPER_CONS_DIA_M3               24239 non-null   float64
 39  PLAN_OPER_PRES_LLENADO              24239 non-null   float64
 40  PLAN_OPER_CI_NU_CIL_CARG            24239 non-null   float64
 41  PLAN_CI_OPER_VOL_TOT_M3             24239 non-null   float64
 42  PLAN_OPER_COI_NU_CIL_CARG           24239 non-null   float64
 43  PLAN_OPER_COI_VOL_TOT_M3            24239 non-null   float64
 44  PLAN_OPER_CONS_MEN_TRANSF_M3        24239 non-null   float64
 45  PLAN_PORC_PUREZA                    24239 non-null   float64
 46  TAN_TOT_TANQUES                     22903 non-null   float64
 47  TAN_TOT_PROPIOS                     4524 non-null    float64
 48  TAN_TOT_NOPROPIOS                   18970 non-null   float64
 49  TAN_TOT_OPER                        22708 non-null   float64
 50  TAN_TOT_NOOPER                      906 non-null     float64
 51  TAN_TOT_CONEXION_RED                21956 non-null   float64
 52  TAN_TOT_NOCONEXION_RED              2244 non-null    float64
 53  TAN_TOT_CARGA                       682 non-null     float64
 54  TAN_TOT_NOCARGA                     22028 non-null   float64
 55  TAN_NOOPER_CAP_MAX_ALM_OXI_M3       906 non-null     float64
 56  TAN_OPER_CAP_MAX_ALM_OXI_M3         22708 non-null   float64
 57  TAN_OPER_CONT_INI_DIA_M3            22708 non-null   float64
 58  TAN_OPER_CANT_REC_DIA_M3            22708 non-null   float64
 59  TAN_OPER_CONS_DIA_M3                22708 non-null   float64
 60  TAN_OPER_SALD_FIN_DIA_ANT_M3        22708 non-null   float64
 61  TAN_OPER_CI_NU_CIL_CARG             22708 non-null   float64
 62  TAN_OPER_CI_VOL_TOT_M3              22708 non-null   float64
 63  TAN_OPER_SISI_COI_NU_CIL_CARG       22708 non-null   float64
 64  TAN_OPER_COI_VOL_TOT_M3             22708 non-null   float64
 65  TAN_OPER_CONS_MEN_TRANSF_M3         22708 non-null   float64
 66  CON_CANT_CONC_OPER_DA               24283 non-null   float64
 67  CON_CANT_CONC_INOP_DA               24283 non-null   float64
 68  CON_CANT_CONC_MANT_DA               24283 non-null   float64
 69  CON_NU_CONC_USADOS                  24283 non-null   float64
 70  CON_NU_CONC_DISPONIBLES             24283 non-null   float64
 71  CON_ORI_PROPIO                      24283 non-null   float64
 72  CON_ORI_TERCERO                     24283 non-null   float64
 73  CON_CAP_REAL_PROM                   24283 non-null   float64
 74  CON_PROM_OPER_DIA_ANT               24283 non-null   float64
 75  CON_PROM_PROD_DIA_ANT               24283 non-null   float64
 76  TOT_PUNTOS_RED_UCI_ADULTOS          26315 non-null   float64
 77  TOT_PUNTOS_RED_OPER_UCI_ADULTOS     26315 non-null   float64
 78  TOT_PUNTOS_RED_INOPER_UCI_ADULTOS   26315 non-null   float64
 79  TOT_PUNTOS_RED_UCI_NEONATAL         11326 non-null   float64
 80  TOT_PUNTOS_RED_OPER_UCI_NEONATAL    11326 non-null   float64
 81  TOT_PUNTOS_RED_INOPER_UCI_NEONATAL  11326 non-null   float64
 82  TOT_PUNTOS_RED_UCI_PEDIA            7998 non-null    float64
 83  TOT_PUNTOS_RED_OPER_UCI_PEDIA       7998 non-null    float64
 84  TOT_PUNTOS_RED_INOPER_UCI_PEDIA     7998 non-null    float64
 85  TOT_PUNTOS_RED_UCIN                 15065 non-null   float64
 86  TOT_PUNTOS_RED_OPER_UCIN            15065 non-null   float64
 87  TOT_PUNTOS_RED_INOPER_UCIN          15065 non-null   float64
 88  TOT_PUNTOS_RED_HOSP                 33548 non-null   float64
 89  TOT_PUNTOS_RED_OPER_HOSP            33548 non-null   float64
 90  TOT_PUNTOS_RED_INOPER_HOSP          33548 non-null   float64
 91  TOT_PUNTOS_RED_EMER                 30336 non-null   float64
 92  TOT_PUNTOS_RED_OPER_EMER            30336 non-null   float64
 93  TOT_PUNTOS_RED_INOPER_EMER          30336 non-null   float64
 94  TOT_PUNTOS_RED_AHT                  9682 non-null    float64
 95  TOT_PUNTOS_RED_OPER_AHT             9682 non-null    float64
 96  TOT_PUNTOS_RED_INOPER_AHT           9682 non-null    float64
 97  TOT_PUNTOS_RED_AACT                 5279 non-null    float64
 98  TOT_PUNTOS_RED_OPER_AACT            5279 non-null    float64
 99  TOT_PUNTOS_RED_INOPER_AACT          5279 non-null    float64
dtypes: float64(88), int64(1), object(11)
memory usage: 77.5+ MB

In [76]:
# Validar integridad del identificador único

In [77]:
len(df_main['id_persona'].unique()),df_main.shape[0]

(136982, 137449)

In [78]:
df_main['id_persona'].isna().sum()

0

In [79]:
filtro_duplicados = df_main['id_persona'].duplicated(keep=False)
df_main[filtro_duplicados]['id_persona'].value_counts().head()

29048330    3
26422634    3
6054506     3
16947420    2
2857158     2
Name: id_persona, dtype: int64

In [80]:
#TODO :Crear variable si fue reinfección(0,1)
#TODO: Crear variable si con el # de la reinfección (1,2,3,etc)

In [81]:
edad_na_count= df_main ['edad'].isna().sum()
print(edad_na_count)
print(round(edad_na_count/df_main.shape[0]*100,2),'%')

8048
5.86 %

In [82]:
df_main ['edad'].hist()
plt.show()